@model ForgotPasswordViewModel

<div class="row">
    <div class="col-md-12">
        <form method="post" action="/forgotPassword" class="justify-content-center col-12">

            <h3>Восстановить пароль </h3>
            <div class="mb-3 col-12 col-md-4">
                <label for="formInputEmail" class="form-label">Ваш Email</label>
                <input id="formInputEmail" 
                       class="form-control" 
                       name="Email" 
                       type="text" 
                       aria-describedby="emailHelp" 
                       placeholder="Введите почту">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="mb-3 col-12 col-md-4">
                <button type="submit" class="btn btn-secondary">Отправить</button>
            </div>
        </form>
    </div>
</div>