<!DOCTYPE html>

@{
    const string logoPath = "img/Logo.png";
}


<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DomShtor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/DomShtor.styles.css" asp-append-version="true"/>
</head>
<body>

<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item">
                <a href="#" class="nav-link link-dark px-2 active" aria-current="page">Главная</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-dark px-2">Каталог</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-dark px-2">Контакты</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link link-dark px-2">Информация</a>
            </li>
        </ul>

        <ul class="nav">
            <li class="nav-item">
                <a href="/login" class="nav-link link-dark px-2">Войти</a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link link-dark px-2">Регистрация</a>
            </li>
        </ul>
    </div>
</nav>

<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <img
                    src=@logoPath
                    width="50"
                    height="40">

                </img>
            </svg>
            <span class="fs-4">Дом Штор</span>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
            <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
        </form>
    </div>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - DomShtor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>