@model RegisterViewModel

@{
    ViewData["Titel"] = "Registration";
}

@* <div> *@
@*     <form action="/register" method="post"> *@
@*         <p> *@
@*             <label>Email</label> *@
@*             <input name="Email" type="text" value="@Model.Email" /> *@
@*         </p> *@
@*         <p> *@
@*             <label>Пароль</label> *@
@*             <input name="Password" type="password" /> *@
@*         </p> *@
@*         <button>Зарегистрироваться</button> *@
@*     </form> *@
@* </div> *@

<div class="container reg-form">
    <form class="row justify-content-center col-12" method="post" action="/register">
        
        <h2>Регистрация</h2>
        
        <div class="mb-3 col-12 col-md-4">
            <label for="formInputEmail" class="form-label">Email</label>
            <input id="formInputEmail" class="form-control" name="Email" type="text" aria-describedby="emailHelp" placeholder="Введите почту" value="@Model.Email">
            <div id="emailHelp" class="form-text">Мы никогда не будем делиться вашей электронной почтой с кем-либо еще.</div>
        </div>
        
        <div class="width-100"></div>
        
        <div class="mb-3 col-12 col-md-4">
            <label for="formInputPassword" class="form-label">Пароль</label>
            <input id="formInputPassword" class="form-control" name="password" type="password" placeholder="Введите пароль">
        </div>
        
        <div class="width-100"></div>
        
        <div class="mb-3 col-12 col-md-4">
            <label for="formInputPasswordReenter" class="form-label">Повторите пароль</label>
            <input id="formInputPasswordReenter" class="form-control" type="password" placeholder="Повторите пароль">
        </div>
        
        <div class="width-100"></div>
        
        <div class="mb-3 col-12 col-md-4">
            <button type="submit" class="btn btn-secondary">Зарегистрироваться</button>
            <a href="/login">Войти</a> 
        </div>
    </form>
</div>