@model LoginViewModel

@{
    ViewData["Title"] = "Вход на сайт";
}


<div class="container reg-form">
    <form class="row justify-content-center col-12" method="post" action="/login">
        
        <h2>Авторизация</h2>
        
        <div class="mb-3 col-12 col-md-4">
            <label for="formInputEmail" class="form-label">Email</label>
            <input id="formInputEmail" class="form-control" name="Email" type="text" aria-describedby="emailHelp" placeholder="Введите почту" value="@Model.Email">
             <span asp-validation-for="Email"></span>
        </div>
        
        <div class="width-100"></div>
        
        <div class="mb-3 col-12 col-md-4">
            <label for="formInputPassword" class="form-label">Пароль</label>
            <input id="formInputPassword" class="form-control" name="password" type="password" placeholder="Введите пароль">
             <span asp-validation-for="Password"></span>
        </div>
        
        <div class="width-100"></div>
        
        <div class="mb-3 col-12 col-md-4">
            <button type="submit" class="btn btn-secondary">Войти</button>
            <a asp-action="">Восстановить пароль</a> 
        </div>
    </form>
</div>